.header{
    background-color: #1f2937;
    height: 400px;
    padding: 0px 150px 50px 150px;
}

.h-content{
    display: flex;
    flex-wrap: wrap;
}
.logo-ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}