.header{
    background-color: #1f2937;
    height: 300px;
    padding: 0px 150px 50px 150px;
}

.h-content{
    display: flex;
    flex-wrap: wrap;
}
.logo-ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hero{
    width: 40%;
    padding-right: 60px;
}

.img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}